/*body{
	background: url(../img/stripes.gif);
}*/
body *{
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
.bg-9fx3, figcaption{
	background-color: #9f9f9f;
}
.clr-9fx3, .page-header a:hover{
	color: #9f9f9f;
}
.clr-white, .page-header a, figcaption{
	color: #fff;
}
.bg-3cx3, .page-header a:hover{
	background-color: #3c3c3c;
}
article .clr-white:hover{
	color: #3c3c3c;
}
h1, h2, h3, figcaption{
	font-family: 'Merriweather', serif;
}
.site-title{
	font-size: 32px;
}
.page-title{
	font-size: 22px;
}
h2, h3{
	font-size: 20px;
}
div a:nth-child(2){
	font-size: 14px;
}
footer{
	font-size: 13px;
}